.header{
    padding: 18px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 12px;
}