<div class="main">
    <div class="right" (click)='goWatch()'>
        <img src="{{ videos.photo_thumbnail }}" alt="">
    </div>
    <div class="left">
        <div class="info">
            <h6>{{fmtTitle}}</h6>
            <div *ngIf='ss.isLogged' class="dropdown">
                <div (click)='showHideSetting()' class="icon" [inlineSVG]="'./assets/icons/setVid.svg'"></div>
                <div *ngIf='dpS' class="dropdown-content">
                    <div (click)='addQueue()' class="content">Add to queue</div>
                    <div (click)='savePlaylist()' class="content">Add to playlist</div>
                </div>
            </div>
        </div>
        <span>{{fmtDuration}}</span> &bull; <span style="cursor: pointer;"
            (click)='goChannel()'>{{videos.creator.name}}</span>
        <div class="detail">
            <span>{{fmtView}} </span>
            <br>
            <span class="space"> &bull; </span>
            <br>
            <span>{{fmtDateUpload}}</span>
        </div>
    </div>
</div>